*{
     margin: 0;
     padding: 0;
     color: white;
     list-style: none;
     text-decoration: none;
}
body{
    font-family: "sagoe UI" ,Arial, Verdana,sans-serif;
    background-image:  url('images.jpeg');
    background-repeat:  no-repeat;
    background-size:  cover;
    background-attachment: fixed ; 
}